.column {
  width: 20%;
  float: left;
}
img {
  width: 50%;
}
body {
  text-align: center;
}
h2 {
  font-family: cursive;
  color: powderblue;
}
.column img {
  border-style: dashed;
  border-width: thick;
}
