.intro {
  text-align: center;
}
.different {
  color: blue;
  font-family: fantasy;
}
p.intro {
  font-variant: small-caps;
}
img.intro {
  margin: auto;
  display: block;
}
.font{
  font-style: italic;
}
