body{
  background-color: #66ffff;
  text-align: center;
}

img{
  float: left;
  height: 400px;
  width: 400px;
}
.text{
  float: left;
  width: 400px;
  margin-left: 50px;
}

.sidebar {
  width: 30%;
  float: right;
  border-style: inset;
  padding: 10px;
  margin: 12px;
  background-color: yellow;

}
